<div class="banner">
    <div class="banner-container">
        <h1 class="index-title">New list</h1>
    </div>
  </div>

<div class="form-container">
    <div class="form">
      <div class="form-infos">
        <%= simple_form_for(@list) do |f| %>
       <div class="form-inputs">
          <%= f.input :name %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, class: "create-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
